@media only screen and (max-width:600px) {
    .nav-bar, .main, .about .col-md-8, .contact, .reviews, .reviews .carousel-caption,  .projects, .projects .row {
        padding-left: 2%;
        padding-right: 2%;
    }
    .reviews i {
        padding: 0.8rem;
    }
}